# Supabase Configuration
# Lascia vuoti per usare la DEMO MODE (funziona senza backend)
VITE_SUPABASE_URL=sb_publishable_XvcFPj3uB90SYgnwx-qqrw_DSqOb49u
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV5ZnFmZnl6bmZqbm1sZ3ZvanFuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1ODQxODksImV4cCI6MjA5MTE2MDE4OX0.tyRBP-9mLh80-iQnytx-Z5rm-9D9-i1mv36SSvep590
